.user-table {
    border-collapse: collapse;
    width: 90%; 
  }
  
  .user-table th,
  .user-table td {
    border: 1px solid #101010; /* Border style */
    padding: 8px; 
  }
  
  /* Adjust the table height if needed */
  .user-table {
    max-height: 400px; /* Set the desired maximum height */
    overflow-y: auto; /* Enable vertical scrolling if table content overflows */
  }
  