.user-table {
    border-collapse: collapse;
    width: 50%; 
    position:inherit;
    overflow: auto;
  }
  
  .user-table th,
  .user-table td {
    border: 1px solid #ccc; 
    padding: 8px; 
  }
  
  .user-table th {
    background-color: #f2f2f2; 
  }
  
  .user-table tbody tr:nth-child(even) {
    background-color: #f9f9f9; 
  }
  
  .user-table {
    max-height: 400px; 
    overflow-y: auto; 
  }
  